


//Aplicando cambios en tema colores
$theme-colors: (
  "primary": #e75d7b,
  "secondary": #e1e1e1,
  "success": #33d87d,
  "info": #C0392B,
  "warning": #239B56,
  "danger": #fff,
  "light": #34495E,
  "dark": #F5CBA7, 
  
);

//Aplicando cambios en muted con gray-600
$gray-600: #0e5491;

//Cambio de white
$white:    #cf1717;



@import "../node_modules/bootstrap/scss/bootstrap";