@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import "/scss/bootstrap.scss";


html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
    
  }

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}